<div class="nav-title bgc-gray-2 mb-1">
  <div class="row">
    <div class="col d-flex">
      <div class="icon-container">
        <i class="td-graph pt-2"></i>
      </div>
      <div class="col-md-9">
        <div>Avancement</div>
        <span class="span-nav">Visualisation et suivi de l'avancement</span>
      </div>
    </div>
    <div class="col d-flex justify-content-end">
      <div class="icon-container mr-3">
        <i class="td-commenting pt-2"></i>
      </div>
      <div class="icon-container">
        <i class="td-share-alt pt-2"></i>
      </div>
    </div>
  </div>
</div>
<div class=" bgc-gray-2">
  <div class="row p-5">
    <div class="col d-flex justify-content-between">
      <div class="col-3 text-center">Mon Avancement</div>
      <div class="col-8">
        <label class="input-toggle">
          <input type="checkbox" checked>
          <span></span>
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="table-responsive-xl">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                <input type="checkbox" />
              </th>
              <th scope="col">
                <div class="row">
                  <div class="col  d-flex justify-content-between">
                    <span>Flow</span>
                    <i class="td-arrow-combo"></i>
                  </div>
                </div>
              </th>
              <th scope="col">
                <div class="row">
                  <div class="col  d-flex justify-content-between">
                    <span>Type</span>
                    <i class="td-arrow-combo"></i>
                  </div>
                </div>
              </th>
              <th scope="col">
                <div class="row">
                  <div class="col d-flex justify-content-between">
                    <span>Phase</span>
                    <i class="td-arrow-combo"></i>
                  </div>
                </div>
              </th>
              <th scope="col">
                <div class="row">
                  <div class="col d-flex justify-content-betwee">
                    <span>Etape</span>
                    <i class="td-arrow-combo"></i>
                  </div>
                </div>
              </th>
              <th scope="col">
                <div class="row">
                  <div class="col d-flex justify-content-between">
                    <span>Designation</span>
                    <i class="td-arrow-combo"></i>
                  </div>
                </div>
              </th>
              <th scope="col">
                <div class="row">
                  <div class="col d-flex justify-content-between">
                    <span>Reda.</span>
                    <i class="td-arrow-combo"></i>
                  </div>
                </div>
              </th>
              <th scope="col">
                <div class="row">
                  <div class="col d-flex justify-content-between">
                    <span>Vera.</span>
                    <i class="td-arrow-combo"></i>
                  </div>
                </div>
              </th>
              <th scope="col">
                <div class="row">
                  <div class="col d-flex justify-content-between">
                    <span>Appr.</span>
                    <i class="td-arrow-combo"></i>
                  </div>
                </div>
              </th>
              <th scope="col">
                <div class="row">
                  <div class="col d-flex justify-content-between">
                    <i class="td-ellipsis-v"></i>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <i class="td-ellipsis-v"></i>
              </td>
            </tr>
            <tr>
              <td></td>
              <th scope="row">2</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <i class="td-ellipsis-v"></i>
              </td>
            </tr>
            <tr>
              <td></td>
              <th scope="row">3</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <i class="td-ellipsis-v"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row p-5">
    <div class="col  d-flex justify-content-between">
      <div class="col-3 text-center">Avancement général interne</div>
      <div class="col-8">
        <label class="input-toggle">
          <input type="checkbox">
          <span></span>
        </label>
      </div>
    </div>
  </div>
  <div class="dropdown-divider border-grey"></div>
  <div class="row p-5">
    <div class="col d-flex justify-content-between">
      <div class="col-3 text-center">Avancement général externe</div>
      <div class="col-8">
        <label class="input-toggle">
          <input type="checkbox">
          <span></span>
        </label>
      </div>
    </div>
  </div>
</div>