@mixin font-face($name, $file, $weight: normal, $style: normal){
	@font-face {
	  font-family: "#{$name}";
	  src: url('assets/fonts/#{$file}/#{$name}.eot');
	  src: url('assets/fonts/#{$file}/#{$name}.eot?#iefix') format('embedded-opentype'),
		   url('assets/fonts/#{$file}/#{$name}.woff') format('woff'),
		   url('assets/fonts/#{$file}/#{$name}.ttf') format('truetype'),
		   url('assets/fonts/#{$file}/#{$name}.svg?#webfont') format('svg');
	  font-weight: $weight;
	  font-style: $style;
	}
}
  