<div class="rounded-0 side-menu-container">
  <ul class="list-group">
    <li class="list-group-item mb-1">
      <div class="row">
        <div class="col-xl-3 col-md-12 col-lg-3 icon-center">
          <i class="td-sweden icon-container"></i>
        </div>
        <div class="col-xl-9 col-md-12  col-lg-9 d-md-none d-lg-block text-sm-center text-md-left text-md-left">
          <div> Navigation</div>
          <span>Pont MORANT Vérinage et entretient</span>
        </div>
      </div>
    </li>
    <li class="list-group-item " [routerLink]="'description'" [routerLinkActive]="['bg-white']">
      <div class="row">
        <div class="col-xl-3 col-md-12 col-lg-3 icon-center">
          <i class="td-file-text icon-container"></i>
        </div>
        <div class="col-xl-9 col-md-12  col-lg-9 d-md-none d-lg-block text-sm-center text-md-left text-md-left">
          <div>Description</div>
          <span>Détail et information du projet</span>
        </div>
      </div>
    </li>
    <li class="list-group-item " [routerLink]="'staffing'" [routerLinkActive]="['bg-white']">
      <div class="row">
        <div class="col-xl-3 col-md-12 col-lg-3 icon-center">
          <i class="td-user icon-container"></i>
        </div>
        <div class="col-xl-9 col-md-12  col-lg-9 d-md-none d-lg-block text-sm-center text-md-left text-md-left">
          <div>Staffing</div>
          <span>Organisation opérationnel du projet</span>
        </div>
      </div>
    </li>
    <li class="list-group-item " [routerLink]="'documents'" [routerLinkActive]="['bg-white']">
      <div class="row">
        <div class="col-xl-3 col-md-12 col-lg-3 icon-center">
          <i class="td-folder-o icon-container"></i>
        </div>
        <div class="col-xl-9 col-md-12  col-lg-9 d-md-none d-lg-block text-sm-center text-md-left text-md-left">
          <div>Document</div>
          <span>Gestion des documents du projet</span>
        </div>
      </div>
    </li>
    <li class="list-group-item " [routerLink]="'advancement'" [routerLinkActive]="['bg-white']">
      <div class="row">
        <div class="col-xl-3 col-md-12 col-lg-3 icon-center">
          <i class="td-graph icon-container"></i>
        </div>
        <div class="col-xl-9 col-md-12  col-lg-9 d-md-none d-lg-block text-sm-center text-md-left text-md-left">
          <div>Advancement</div>
          <span>Visualisation et suivi de l'avancement</span>
        </div>
      </div>
    </li>
    <li class="list-group-item " [routerLink]="'contact'" [routerLinkActive]="['bg-white']">
      <div class="row">
        <div class="col-xl-3 col-md-12 col-lg-3 icon-center">
          <i class="td-users icon-container"></i>
        </div>
        <div class="col-xl-9 col-md-12  col-lg-9 d-md-none d-lg-block text-sm-center text-md-left text-md-left">
          <div>Contact</div>
          <span>Carnet de contact interne et externe</span>
        </div>
      </div>
    </li>
    <li class="list-group-item " [routerLink]="'to-do'" [routerLinkActive]="['bg-white']">
      <div class="row">
        <div class="col-xl-3 col-md-12 col-lg-3 icon-center">
          <i class="td-check-circle icon-container"></i>
        </div>
        <div class="col-xl-9 col-md-12  col-lg-9 d-md-none d-lg-block text-sm-center text-md-left text-md-left">
          <div>To DoList</div>
          <span>Gestionnaire et tache interne</span>
        </div>
      </div>
    </li>
    <li class="list-group-item " [routerLink]="'apointments'" [routerLinkActive]="['bg-white']">
      <div class="row">
        <div class="col-xl-3 col-md-12 col-lg-3 icon-center">
          <i class="td-calendar icon-container"></i>
        </div>
        <div class="col-xl-9 col-md-12  col-lg-9 d-md-none d-lg-block text-sm-center text-md-left text-md-left">
          <div>Appointment</div>
          <span>Suivi du pointage par projet</span>
        </div>
      </div>
    </li>
    <li class="list-group-item " [routerLink]="'delevery-managments'" [routerLinkActive]="['bg-white']">
      <div class="row">
        <div class="col-xl-3 col-md-12 col-lg-3 icon-center">
          <i class="td-bus icon-container"></i>
        </div>
        <div class="col-xl-9 col-md-12  col-lg-9 d-md-none d-lg-block text-sm-center text-md-left text-md-left">
          <div>Gestion des livraisons</div>
          <span>Suivi des livraisons du projet</span>
        </div>
      </div>
    </li>
    <li class="list-group-item " [routerLink]="'planing-projects'" [routerLinkActive]="['bg-white']">
      <div class="row">
        <div class="col-xl-3 col-md-12 col-lg-3 icon-center">
          <i class="td-sliders icon-container"></i>
        </div>
        <div class="col-xl-9 col-md-12  col-lg-9 d-md-none d-lg-block text-sm-center text-md-left text-md-left">
          <div>Planning projet</div>
          <span>Suivi des livraisons du projet</span>
        </div>
      </div>
    </li>
    <li class="list-group-item " [routerLink]="'meeting-managments'" [routerLinkActive]="['bg-white']">
      <div class="row">
        <div class="col-xl-3 col-md-12 col-lg-3 icon-center">
          <i class="td-users-1 icon-container"></i>
        </div>
        <div class="col-xl-9 col-md-12  col-lg-9 d-md-none d-lg-block text-sm-center text-md-left text-md-left">
          <div>Gestions des réunions</div>
          <span>Suivi des réunions du projet</span>
        </div>
      </div>
    </li>

  </ul>

</div>